.main {
  width: auto;
  height: auto;
  background-color: transparent;
  overflow: hidden;

  .main-content {
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    transition: 500ms;
    transform: translateX(-350px); //-350px it's a width of LoginUser component

    .main-content-wrapper {
      width: 100%;
      height: auto;
      background-color: #22272b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 200px 0px 400px 0px;
      flex-shrink: 0;

      h1 {
        font-size: 50px;
        margin-bottom: 16px;
      }

      > p {
        font-size: 22px;
        margin-bottom: 100px;
      }

      @media screen and (max-width: 1200px) {
        h1 {
          font-size: 36px;
          margin-bottom: 16px;
        }

        > p {
          width: 500px;
          text-align: center;
          background-color: transparent;
          font-size: 18px;
          margin-bottom: 100px;
          white-space: pre-wrap;
        }
      }

      .buttons-wrapper {
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 200px;
          margin: 0px 20px 0px 20px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}
