.create-user {
  width: auto;
  height: auto;
  background-color: #22272b;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  position: relative;

  > button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -75px;
    left: 25px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;

    @media screen and (max-width: 1024px) {
      display: flex;
    }
  }

  #create-user-form {
    width: auto;
    max-width: 350px;
    height: auto;
    background-color: #22272b;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 500ms;
    align-items: center;

    @media screen and (max-width: 1480px) {
      margin-left: 100px;
    }

    @media screen and (max-width: 1280px) {
      margin-left: 150px;
    }

    @media screen and (max-width: 1024px) {
      width: 100vw;
      max-width: unset;
      margin-left: unset;
      margin-right: unset;
    }

    .input-wrapper {
      width: auto;
      height: auto;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;

      input {
        width: 350px;
        height: 50px;
        font-size: 24px;
        border: unset;
        outline-width: 0px;
        padding: 12px 48px 12px 24px;
        transition: 500ms;
        border-radius: 1000px;
        margin-bottom: 20px;
        order: 2;

        @media screen and (max-width: 375px) {
          width: 300px;
        }

        &::placeholder {
          transition: 500ms;
        }

        &:focus {
          &::placeholder {
            transform: translateX(-100%);
          }

          + label {
            transform: translateX(0px);
          }
        }

        &:valid {
          &::placeholder {
            transform: translateX(-100%);
          }

          + label {
            transform: translateX(0px);
          }
        }
      }

      label {
        font-size: 20px;
        padding-left: 24px;
        transform: translateX(-75%);
        transition: 500ms;
        margin-bottom: 5px;
        color: #a385e0;
        order: 1;
      }

      i {
        position: absolute;
        right: 12px;
        top: 38px;
        font-size: 32px;
        --fa-primary-color: white;
        --fa-secondary-color: #855dd5;
        --fa-secondary-opacity: 1;
        cursor: pointer;
        transition: all 250ms;

        &:hover {
          --fa-secondary-color: #9471da;

          + span {
            transform: translateX(0%);
          }
        }
      }

      span {
        width: 300px;
        height: 50px;
        background-color: #9471da;
        color: white;
        white-space: pre-wrap;
        position: absolute;
        text-align: center;
        padding: 4px 12px 4px 12px;
        border-radius: 100px;
        left: 0px;
        top: 29px;
        font-size: 16px;
        transition: 500ms;
        transform: translateX(-100%);
      }
    }

    button {
      margin-top: 50px;
      width: 350px;

      @media screen and (max-width: 375px) {
        width: 300px;
      }
    }
  }
}
