.login-user {
  width: auto;
  height: auto;
  background-color: #22272b;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  position: relative;
}
.login-user > button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -75px;
  right: 25px;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .login-user > button {
    display: flex;
  }
}
.login-user #login-user-form {
  width: auto;
  max-width: 350px;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 500ms;
  align-items: center;
}
@media screen and (max-width: 1480px) {
  .login-user #login-user-form {
    margin-left: -100px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 1280px) {
  .login-user #login-user-form {
    margin-left: -150px;
    margin-right: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .login-user #login-user-form {
    width: 100vw;
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}
.login-user #login-user-form .input-wrapper {
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.login-user #login-user-form .input-wrapper input {
  width: 350px;
  height: 50px;
  font-size: 24px;
  border: unset;
  outline-width: 0px;
  padding: 12px 24px 12px 24px;
  transition: 500ms;
  border-radius: 1000px;
  margin-bottom: 20px;
  order: 2;
}
@media screen and (max-width: 375px) {
  .login-user #login-user-form .input-wrapper input {
    width: 300px;
  }
}
.login-user #login-user-form .input-wrapper input::-moz-placeholder {
  -moz-transition: 500ms;
  transition: 500ms;
}
.login-user #login-user-form .input-wrapper input:-ms-input-placeholder {
  -ms-transition: 500ms;
  transition: 500ms;
}
.login-user #login-user-form .input-wrapper input::placeholder {
  transition: 500ms;
}
.login-user #login-user-form .input-wrapper input:focus::-moz-placeholder {
  transform: translateX(-100%);
}
.login-user #login-user-form .input-wrapper input:focus:-ms-input-placeholder {
  transform: translateX(-100%);
}
.login-user #login-user-form .input-wrapper input:focus::placeholder {
  transform: translateX(-100%);
}
.login-user #login-user-form .input-wrapper input:focus + label {
  transform: translateX(0px);
}
.login-user #login-user-form .input-wrapper input:valid::-moz-placeholder {
  transform: translateX(-100%);
}
.login-user #login-user-form .input-wrapper input:valid:-ms-input-placeholder {
  transform: translateX(-100%);
}
.login-user #login-user-form .input-wrapper input:valid::placeholder {
  transform: translateX(-100%);
}
.login-user #login-user-form .input-wrapper input:valid + label {
  transform: translateX(0px);
}
.login-user #login-user-form .input-wrapper label {
  font-size: 20px;
  padding-left: 24px;
  transform: translateX(-75%);
  transition: 500ms;
  margin-bottom: 5px;
  color: #a385e0;
  order: 1;
}
.login-user #login-user-form button {
  margin-top: 50px;
  width: 350px;
}
@media screen and (max-width: 375px) {
  .login-user #login-user-form button {
    width: 300px;
  }
}/*# sourceMappingURL=LoginUser.css.map */